<h1>Article Search Thunderdome</h1>

<label for="site-search">Enter Search Term:</label>
<input type="search" id="site-search">

<button>Search</button>



<ul>
   <% @articles.each do |article| %>
    <li> Headline: <%= link_to article.headline, article_path(article) %> <br>
     Author: <%= article.author %> <br>
     Snippet: <%= article.snippet %>
    </li>
  <% end %>
</ul>
